{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} ورود {% endblock %}

{% block content %}
    <div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 mt-36">
        <div class="relative py-3 sm:max-w-sm sm:mx-auto">
            <div
                    class="absolute inset-0 bg-stone-900 transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
            </div>
            <div class="relative px-4 py-10 bg-gradient-to-t from-orange-100 to-[#f5f1e4] sm:rounded-3xl sm:p-14">

                <div class="max-w-md mx-auto">
                    <div>
                        <h1 class="text-xl form_h1 text-center font-YekanBakh-Bold">ورود</h1>
                        <br>
                        <p style="color: #CC3434">{{ request.GET.message }}</p>
                    </div>
                    <div class="divide-y divide-gray-200">
                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                            <form action="{% url 'account:login' %}" method="post">
                                {% csrf_token %}

                                <div style="color:#CC3434;">
                                    {% if form.non_field_errors %}
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                </div>
                                <br>

                                {{ form.mobile_phone_or_username|attr:"placeholder:* نام کاربری یا شماره تلفن همراه"|attr:"class:input w-full rounded-full focus:outline-none placeholder:text-sm" }}
                                <br>
                                <br>

                                {{ form.password|attr:"placeholder:* رمز عبور"|attr:"class:input w-full rounded-full focus:outline-none placeholder:text-sm" }}
                                <div style="color:#CC3434;">
                                    {{ form.mobile_phone_or_username.errors }}
                                </div>

                                <br>
                                <br>
                                <button class="btn bg-stone-800 w-full hover:bg-stone-900 text-white rounded-full text-sm">
                                    ورود
                                </button>
                                <p class="mt-6 text-xs text-gray-600 text-center leading-8">
                                    رمز عبور خود را فراموش کرده اید؟
                                    <a href="{% url 'account:forget_password' %}"
                                       class="border-b border-gray-500 border-dotted">
                                        کلیک کنید.
                                    </a>
                                    <br>
                                    اگر اکانت ندارید
                                    <a href="{% url 'account:register' %}"
                                       class="border-b border-gray-500 border-dotted">
                                        ثبت نام کنید
                                    </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="w-full flex justify-center">
                    <a href="{% url 'home:home' %}">
                        <button class="flex items-center bg-white rounded-full px-6 py-2 text-sm font-medium text-gray-800 hover:bg-orange-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 hover:duration-300">
                            بازگشت به صفحه اصلی
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
