{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'node_modules/swiper/swiper-bundle.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'public/build/style.css' %}"/>

    <title>{% block title %} {% endblock %}</title>
</head>
<body class="font-YekanBakh-Regular text-sm bg-[#f5f1e4]">
{#style="overflow: hidden; position: fixed; top: -100px; margin-top: 100px; width: 100%; z-index: 2; background: whitesmoke;"#}
<header>
    <section class="px-4 static">
        <div class="container mx-auto max-w-screen-xl">
            <div class="flex justify-between items-center py-6">
                <div class="lg:hidden leading-none z-10">
                    <div class="drawer">
                        <input id="my-drawer-4" type="checkbox" class="drawer-toggle"/>
                        <div class="drawer-content">
                            <label for="my-drawer-4" class="swap swap-rotate drawer-button">

                                <!-- this hidden checkbox controls the state -->
                                <input type="checkbox"/>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor"
                                     class="w-6 h-6 stroke-black swap-off fill-current">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor"
                                     class="w-6 h-6 stroke-black swap-on fill-current">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                                </svg>

                            </label>
                        </div>
                        <div class="drawer-side" style=" overflow: scroll;">
                            <label for="my-drawer-4" class="drawer-overlay"></label>
                            <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content"
                                style="overflow-y: scroll; width: 370px;">
                                <div class="drawer-content text-left">
                                    <label for="my-drawer-4" class="swap swap-rotate drawer-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M6 18L18 6M6 6l12 12"/>
                                        </svg>
                                    </label>
                                </div>
                                <form action="{% url 'home:search_view' %}" method="get" class="relative"
                                      style="display: flex">
                                    <div class="relative rounded-full border" style="width: -webkit-fill-available">
                                        <button
                                                type="submit"
                                                class="absolute left-0 top-0 h-full p-2">
                                            <span class="text-gray-400 text-xl" aria-hidden="true">🔍</span>
                                        </button>
                                        <input type="search" id="searchbar" name="q" placeholder="جست و جو..."
                                               class="w-48 px-4 py-2 rounded-full border focus:outline-none focus:ring-2 pl-10"
                                               style="width: inherit"/>
                                    </div>
                                </form>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'home:home' %}">خانه</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'admission:form' %}">فرم پذیرش</a></li>
                                <li>
                                    <details>
                                        <summary><a href="">آزمایشگاه ها</a></summary>
                                        <ul class="p-2 z-10 w-48 bg-[#f5f1e4] m-0">
                                            {% for category in categories %}
                                                {% if not category.parent %}
                                                    {% if category.subs.all %}
                                                        <li>
                                                            <details>
                                                                <summary>{{ category.title }}</summary>
                                                                <ul>
                                                                    {% for sub in category.subs.all %}
                                                                        <li>
                                                                            <a href="{% url 'laboratory:category_laboratories' sub.slug %}">{{ sub.title }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </details>
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'laboratory:category_laboratories' category.slug %}">{{ category.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </details>
                                </li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'record:all_records' %}">سابقه</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'weblog:all_weblogs' %}">وبلاگ</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'tiding:all_tidings' %}">خبر</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'about:faq' %}">سوالات</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'contact_us:contact_us' %}">تماس با ما</a></li>
                                <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                       href="{% url 'contact_us:complaint' %}">شکایت</a></li>
                                <li>
                                    <p style="color: #d34e46">ساعت کاری: {{ contact_us_info.work_time }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-8">
                    <div>
                        <a href="{% url 'home:home' %}"><img style="margin-right: 15px"
                                                             src="{% static 'assets/images/logo-dark.png' %}"
                                                             alt=""></a>
                        <div>
                            آزمایشگاه پیشرفته <br/>
                            خواص مواد شریف
                        </div>
                    </div>
                    <div class="hidden lg:block">
                        <form action="{% url 'home:search_view' %}" method="get" class="relative" style="display: flex">
                            <div
                                    class="relative rounded-full border"
                                    style="width: -webkit-fill-available">
                                <button type="submit" class="absolute left-0 top-0 h-full p-2">
                                    <span class="text-gray-400 text-xl" aria-hidden="true">🔍</span></button>
                                <input type="search" id="searchbar" name="q" placeholder="جست و جو..."
                                       class="w-48 px-4 py-2 rounded-full border focus:outline-none focus:ring-2 pl-10"
                                       style="width: inherit"/>
                            </div>
                        </form>
                        <br/>
                        <ul class="flex menu lg:menu-horizontal">
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'home:home' %}">خانه</a></li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'admission:form' %}">فرم پذیرش</a></li>
                            <li>
                                <details>
                                    <summary>
                                        <a href="{% url 'laboratory:all_laboratories' %}">آزمایشگاه</a>
                                    </summary>
                                    <ul class="p-2 w-48 bg-[#f5f1e4] m-0" style="z-index: 40;">
                                        {% for category in categories %}
                                            {% if not category.parent %}
                                                {% if category.subs.all %}
                                                    <li>
                                                        <details>
                                                            <summary>{{ category.title }}</summary>
                                                            <ul>
                                                                {% for sub in category.subs.all %}
                                                                    <li>
                                                                        <a href="{% url 'laboratory:category_laboratories' sub.slug %}">{{ sub.title }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </details>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="{% url 'laboratory:category_laboratories' category.slug %}">{{ category.title }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'record:all_records' %}">سابقه</a>
                            </li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'weblog:all_weblogs' %}">وبلاگ</a></li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'tiding:all_tidings' %}">خبر</a></li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'about:faq' %}">سوالات</a></li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'contact_us:contact_us' %}">تماس با ما</a></li>
                            <li><a class="hover:border-b hover:border-orange-200 pb-1 duration-300"
                                   href="{% url 'contact_us:complaint' %}">شکایت</a></li>
                            <li>
                                <p style="color: #d34e46">ساعت کاری: {{ contact_us_info.work_time }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border bg-stone-900 text-orange-200 hover:bg-orange-200 hover:text-stone-900 duration-300 rounded-full">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'account:logout' %}"
                           class="flex py-2.5 px-7 rounded-full font-YekanBakh-Regular">خروج</a>
                    {% else %}
                        <a href="{% url 'account:login' %}"
                           class="flex py-2.5 px-7 rounded-full font-YekanBakh-Regular">ورود</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</header>

{% block content %} {% endblock %}

<footer class="p-10 bg-stone-800 text-white">
    <button id="to-top-button" onclick="goToTop()" title="Go To Top"
            class="hidden fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full bg-stone-900 hover:bg-orange-200 text-orange-200 hover:text-stone-900 duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6">

            <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75"/>
        </svg>

        <span class="sr-only">Go to top</span>
    </button>
    <div class="container mx-auto max-w-screen-xl">
        <div class="grid grid-cols-12 gap-4 leading-8">
            <div class="col-span-12 lg:col-span-5">
                <img class="mb-4" src="{% static 'assets/images/logo-light.png' %}" alt=""/>
                <p>{{ footer_general_website_idea.body }}</p>

            </div>
            <div
                    class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-2 text-right md:text-center">
                <h3 class="font-IRANSansWeb_Bold text-white mb-4 text-base">
                    دسترسی سریع
                </h3>
                <ul>
                    <li><a href="{% url 'home:home' %}">خانه</a></li>
                    <li><a href="{% url 'admission:form' %}">فرم پذیرش</a></li>
                    <li><a href="{% url 'laboratory:all_laboratories' %}">آزمایشگاه</a></li>
                    <li><a href="{% url 'record:all_records' %}">سابقه</a></li>
                    <li><a href="{% url 'weblog:all_weblogs' %}">وبلاگ</a></li>
                    <li><a href="{% url 'tiding:all_tidings' %}">خبر</a></li>
                    <li><a href="{% url 'about:faq' %}">سوالات</a></li>
                    <li><a href="{% url 'contact_us:contact_us' %}">تماس با ما</a></li>
                    <li><a href="{% url 'contact_us:complaint' %}">شکایت</a></li>
                    <li>
                        <p style="color: #d34e46">
                            ساعت کاری: {{ contact_us_info.work_time }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="lg:w-2/3 md:w-1/2  hidden sm:mr-10 p-10 md:flex items-end justify-start relative">
                <iframe class="absolute inset-0" frameborder="0" title="map"
                        marginheight="0"
                        marginwidth="0" scrolling="no"
                        src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=35.706532,51.349130&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                        style="border-radius: 20px; filter: contrast(1) opacity(0.8); width: 30vw; height: 20vw;"></iframe>
            </div>

</footer>

<script src="{% static 'node_modules/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'src/js/main.js' %}"></script>
</body>
</html>
