{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/build/style.css' %}">
    <title>ثبت نام</title>
</head>
<body class="font-YekanBakh-Regular text-sm bg-[#f5f1e4]">

<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-sm sm:mx-auto">
        <div
                class="absolute inset-0 bg-stone-900 transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-gradient-to-t from-orange-100 to-[#f5f1e4] sm:rounded-3xl sm:p-14">

            <div class="max-w-md mx-auto">
                <div>
                    <h1 class="text-xl form_h1 text-center font-YekanBakh-Bold">فرم شکایت</h1>
                    {% if messages %}
                        <div style="color:#00ad00;">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="divide-y divide-gray-200">
                    <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                        <form action="{% url 'contact_us:complaint' %}" method="post">
                            {% csrf_token %}

                            {% if form.body.errors %}
                                <div style="color:#CC3434;">
                                    {{ form.body.errors }}
                                </div>
                            {% endif %}

                            {{ form.body|attr:"class:textarea w-full h-32 rounded-3xl focus:outline-none placeholder:text-sm"|attr:"placeholder:متن شکایت" }}
                            <br>
                            <br>

                            <button type="submit"
                                    class="btn bg-stone-800 w-full hover:bg-stone-900 text-white rounded-full text-sm">
                                ارسال
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="w-full flex justify-center">
                <a href="{% url 'home:home' %}">
                    <button class="flex items-center bg-white rounded-full px-6 py-2 text-sm font-medium text-gray-800 hover:bg-orange-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 hover:duration-300">
                        بازگشت به صفحه اصلی
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'node_modules/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'src/js/main.js' %}"></script>
</body>
</html>